.resizer[data-v-b9f1c58e]{background-color:#fff;border-left:1px solid #ddd;cursor:ew-resize;display:flex;justify-content:center;width:.1px}.circle[data-v-b9f1c58e]{background:#fff;border:1px solid #ddd;border-radius:2000px;display:flex;height:.875rem;padding:.625rem;position:sticky;top:50%;width:2.25rem;z-index:101}#theThirdSide[data-v-b9f1c58e]{background-color:#f2f2f2;padding:3rem 2.25rem 0}#theThirdSide.remove-padding[data-v-b9f1c58e]{padding:unset}
