.resizer[data-v-19c20882]{background-color:#fff;border-left:1px solid #ddd;cursor:ew-resize;display:flex;justify-content:center;width:.1px}.circle[data-v-19c20882]{background:#fff;border:1px solid #ddd;border-radius:2000px;display:flex;height:.875rem;padding:.625rem;position:sticky;top:50%;width:2.25rem;z-index:101}
