.light-green[data-v-542a2091]{justify-content:right;padding-right:1.5rem}.green[data-v-542a2091],.light-green[data-v-542a2091]{align-items:center;display:flex;height:5rem}.green[data-v-542a2091]{justify-content:left;padding-left:1.5rem}.logo[data-v-542a2091]{font-family:Inter;font-size:24px;font-style:normal;font-weight:500;line-height:29px;text-transform:uppercase}.custom-border-radius[data-v-542a2091]{border-radius:.5rem}.light-green>button[data-v-542a2091]:nth-child(n+2){margin-left:.5rem}
