.light-green[data-v-be9a9308]{justify-content:right;padding-right:1.5rem}.green[data-v-be9a9308],.light-green[data-v-be9a9308]{align-items:center;display:flex;height:5rem}.green[data-v-be9a9308]{justify-content:left;padding-left:1.5rem}.logo[data-v-be9a9308]{font-family:Inter;font-size:24px;font-style:normal;font-weight:500;line-height:29px;text-transform:uppercase}.custom-border-radius[data-v-be9a9308]{border-radius:.5rem}.light-green>button[data-v-be9a9308]:nth-child(n+2){margin-left:.5rem}
